@import "./../node_modules/bootstrap/scss/bootstrap";


html {
    height: 100%;
}

body {
    position: relative;
    height: 100%;
    //background: url('../images/globalwarming.jpeg');
    background-size: cover;
    background-position: fixed;
    backdrop-filter: blur(5px);
    // background-color: #08AEEA;
    // background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
}

.climate_title {
    margin-bottom: 2rem;
    font-size: 2rem;
    //color: white;
}

.climate_container {
    padding-top: 8rem;
}

.climate_chart {
    display: none;
    
    &.st-show {
        display: block;
    }
}

.climate_buttons {
    margin-bottom: 1rem;
}

.btn {
    &.st-active {
        background-color: var(--bs-btn-hover-bg);
        border-color: var(--bs-btn-hover-bg);
    }
}

.highcharts-background {
    //fill: rgba(255, 255, 255, 0.3);
}